@use "../../styles/util.scss";
@import "../../styles/variables.scss";

.login-container {
  @extend .flex-row;
  height: 83vh;
  width: 100%;

  .login-left {
    background-color: $light-cream;
    height: 100%;
    width: 50%;
    @extend .flex-column, .flex-justify-center, .padding-bottom-1;
    img {
      width: calc($spacing-unit * 15);
    }
    div {
      font-size: larger;
    }
    .btn-primary {
      width: 50%;
      @extend .margin-top-1;
    }
    .readmore-btn {
      @extend .flex-row, .flex-justify-center;
      width: 50%;
    }
  }
  .login-box {
    width: 50%;
    @extend .flex-column, .flex-justify-center;
    margin-top: calc($spacing-unit * 2);

    background-color: $white;
    // box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem $light-gray;
  }
  .login-btn {
    @extend .padding-full;
  }
}

@media screen and (max-width: $medium) {
  .login-container {
    flex-direction: column;
    .login-left,
    .login-box {
      width: 100%;
    }
  }
}
