@use "../../styles/util.scss";
@import "../../styles/variables.scss";

div {
  .btn {
    @extend .padding-half;
    width: 100%;
    cursor: pointer;
  }
  .btn-primary {
    background-color: $light-blue;
    color: $black;
  }
  .btn-outline {
    background-color: $white;
    border: 1px solid $light-blue;
  }
  .btn-link {
    color: $black;
    font-weight: 600;
    text-decoration: underline;
    font-size: 1.2rem;
  }
  a {
    text-decoration: none;
  }
}
