@use "../../styles/util.scss";
@import "../../styles/variables.scss";

.quiz-list {
  @extend .padding-full, .gap-1;
  padding-top: calc($spacing-unit * 2);
  gap: calc($spacing-unit * 1);
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  .quiz-card {
    @extend .flex-column, .flex-justify-center;
    width: calc($spacing-unit * 15);
    height: calc($spacing-unit * 17);
    border-radius: 0.2rem;
    box-sizing: border-box;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem $light-gray;
    position: relative;
    text-align: center;
    .quiz-footer {
      @extend .flex-column, .flex-space-between, .padding-half;
      width: 90%;
      align-items: flex-start;
      .quiz-share {
        margin-top: calc($spacing-unit * 1.1);
        @extend .flex-row, .flex-space-between;
        width: 100%;
      }
    }
    .quiz-footer > :nth-child(1) {
      font-weight: 600;
      font-size: 0.9rem;
    }
    .quiz-footer > :nth-child(2) {
      font-size: 0.8rem;
    }

    .tag {
      position: absolute;
      right: 0;
      top: 0.2rem;
      padding: calc($spacing-unit * 0.3);
      background-color: $light-cream;
      font-size: 0.8rem;
      border-radius: 0.1rem;
      text-transform: uppercase;
    }
    .color {
      @extend .flex-column, .flex-justify-center;
      height: 100%;
      width: calc($spacing-unit * 15.5);
      background-color: #064663;
      border-radius: 0.2rem;
      color: $white;
    }
    img {
      width: calc($spacing-unit * 15);
      border-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
    .quiz-title {
      @extend .padding-half, .flex-column, .flex-end;
      box-sizing: border-box;
      background-color: transparent;
      opacity: 0.9;
      width: 95%;
      text-align: center;
      font-size: calc($spacing-unit * 1.5);
      font-weight: 700;
    }
  }
}
