@use "../../styles/util.scss";
@import "../../styles/variables.scss";

nav {
  @extend .flex-column, .flex-start, .gap-1;
  height: 100vh;
  background-color: $white;
  //   border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem $light-gray;
  // position: absolute;
  button {
    @extend .padding-full, .margin-full;
    border: none;
    background-color: $dark-gray;
    border-radius: 0.2rem;
    color: $white;
  }
  .filler {
    flex-grow: 1;
  }
  .nav-icons {
    @extend .flex-column, .padding-full, .margin-full, .gap-1;
    gap: calc($spacing-unit * 2);
  }
  .nav-icon {
    color: $black;
    font-size: calc($spacing-unit * 1.5);
  }
  a {
    position: relative;
  }
  img {
    width: calc($spacing-unit * 4);
    @extend .padding-full;
    // margin-bottom: calc();
  }
  svg {
    cursor: pointer;
  }
}
.nav-detail {
  @extend .flex-column;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  left: calc($spacing-unit * 4);
  border: 1px solid $dark-gray;
  background-color: $white;
  top: calc($spacing-unit * 0.5);
  width: calc($spacing-unit * 5);
  height: calc($spacing-unit * 1.5);
  text-align: center;
}
.nav-detail::after {
  content: " ";

  position: absolute;
  top: calc($spacing-unit * 0.5);
  right: calc($spacing-unit * 5.5);
  border-width: 5px;
  border-style: solid;
  border-color: transparent $dark-gray transparent transparent;
}
a:hover {
  .nav-detail {
    visibility: visible;
    color: $dark-gray;
  }
}
.nav-detail > :nth-child(1) {
  font-size: calc($spacing-unit * 0.9);
}
