@use "../../styles/util.scss";
@import "../../styles/variables.scss";

.home-container {
  @extend .flex-column;
  height: 80vh;
  width: 100%;
  overflow-y: scroll;
  align-items: baseline;
  z-index: -1;

  .quix-share-icon {
    @extend .flex-row;
    font-size: 0.9rem;
    cursor: pointer;
    svg {
      margin-right: 0.2rem;
    }
  }
  .submissions {
    @extend .padding-half;
    display: grid;
    gap: calc($spacing-unit * 1);
    width: 97%;
    grid-template-columns: repeat(1, 1fr);
    background-color: $white;
    // box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem $light-gray;

    .submissions-header,
    .submission {
      @extend .flex-row, .padding-half, .flex-space-evenly;
      width: 100%;
    }
    .submission {
      background-color: $white;
      box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem $light-gray;
    }
  }
}
