@use "../../styles/util.scss";
@import "../../styles/variables.scss";

header {
  ul {
    @extend .flex-row, .gap-1;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $black;
  }
  .mobNav-container {
    @extend .flex-column;
    height: 100vh;
    display: none;
    padding: 0;
    position: relative;

    li,
    a {
      font-size: larger;
      font-weight: 500;
    }
    animation-name: leftToRight;
    animation-duration: 1.5s;
    background-color: $white;
  }
  div {
    @extend .flex-row, .padding-full, .flex-space-between;
    background-color: $light-blue;
    .logo {
      width: calc($spacing-unit * 15);
    }

    .mobNav {
      display: none;
      color: $black;
      cursor: pointer;
    }
    @media screen and (max-width: $medium) {
      .mobNav {
        display: flex;
      }
    }
  }
  @media screen and (max-width: $medium) {
    .mobNav {
      display: flex;
    }
    .desktop-container {
      display: none;
    }
    .mobNav-container {
      display: flex;
    }
  }
  @keyframes leftToRight {
    from {
      left: -100px;
    }
    to {
      left: 0;
    }
  }
}
