@use "../../styles/util.scss";
@import "../../styles/variables.scss";

.container {
  align-items: baseline;
  width: 100%;
  margin-left: calc($spacing-unit * 1);
  margin-top: calc($spacing-unit * 6);
}
.home-root-container {
  @extend .flex-row;
  height: 100vh;
  position: relative;
}
