@use "../../styles/util.scss";

.container {
  position: relative;
  align-items: baseline;
  top: 6vh;
  width: 90%;
  left: 8vw;
}
.home-root-container {
  @extend .flex-row;
  top: 7vh;
  height: 86vh;
  position: relative;
}
